@import '../../styles/variables';

.orderPage {
  min-height: 100vh;
  overflow-x: hidden;
  background: #E5E5E5;
}

.topSection,
.topSectionTicket {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 500px;
  padding-bottom: 0;
  background-position: center;
  background-size: cover;
}

.topSection {
  background-image: url('../../images/background.png');
}

.topSectionTicket {
  background-image: url('../../images/background-ticket.png');
}

.searchContainer {
  @include container;

  z-index: 10;
  margin-bottom: 0;
  padding-bottom: 0;
}

.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: white;
  background: #3E3C41;
}

.stepsContainer {
  @include container;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  overflow: visible;
}

.step {
  position: relative;
  display: flex;
  flex: 1;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background: #3E3C41;
  transition: background 0.3s;

  &:nth-child(1) {
    z-index: 4;
  }

  &:nth-child(2) {
    z-index: 3;
  }

  &:nth-child(3) {
    z-index: 2;
  }

  &:nth-child(4) {
    z-index: 1;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: -24.7px;
    z-index: 2;
    width: 49.5px;
    height: 49.5px;
    content: "";
    background: inherit;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: translateY(-50%) rotate(45deg);
    box-sizing: border-box;
  }

  &:last-child::after {
    display: none;
  }

  &.active {
    background: #FFA800;
  }

  &.completed {
    cursor: pointer;
    background: #FFA800;
  }

  &:first-child {
    &.active,
    &.completed {
      &::before {
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        z-index: 1;
        width: 5000px;
        content: "";
        background: #FFA800;
      }
    }
  }

  &:last-child.active::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 1;
    width: 5000px;
    content: "";
    background: #FFA800;
  }
}

.stepNum {
  position: relative;
  z-index: 10;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}

.stepText {
  position: relative;
  z-index: 10;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.container {
  @include container;

  display: flex;
  gap: 40px;
  align-items: flex-start;
  padding: 60px 15px 100px;
}

.sidebarColumn {
  flex-shrink: 0;
  width: 300px;
}

.mainContent {
  flex-grow: 1;
}