$color-primary: #FFA800;
$color-primary-hover: #E69500;
$color-secondary: #292929;
$color-bg: #E5E5E5;
$color-white: #FFFFFF;
$color-black: #000000;
$color-text-main: #292929;
$color-text-gray: #928F94;
$color-gray-light: #C4C4C4;
$color-dark-gray: #3E3C41;
$color-input-border: #928F94;

$shadow-card: 0px 4px 4px rgba(0, 0, 0, 0.25);

$desktop-width: 1200px;
$header-height: 80px;

@mixin container {
  width: 100%;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@mixin btn-primary {
  background-color: $color-primary;
  color: $color-black;
  border: 1px solid $color-primary;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;

  &:hover:not(:disabled) {
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
    box-shadow: $shadow-card;
  }

  &:active:not(:disabled) {
    background-color: $color-primary-hover;
    transform: translateY(1px);
    box-shadow: none;
  }

  &:disabled {
    background-color: $color-gray-light;
    border-color: $color-gray-light;
    color: white;
    cursor: default;
  }
}

@mixin btn-outline-white {
  background-color: transparent;
  color: $color-white;
  border: 1px solid $color-white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-black;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: $color-text-main;
}

h1,
h2,
h3 {
  font-size: 30px;
  font-weight: 700;
}

p,
span,
div {
  font-size: 18px;
}