@import '../../styles/variables';

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 150px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.active {
    background: #FFCA62;
    border-color: #FFA800;
  }
}

.icon {
  margin-bottom: 10px;
  color: #3E3C41;
  font-size: 30px;
}

.title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}