@import '../../styles/variables';

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: white;
}

.headerInner {
  position: relative;
  background: #292929;

  .logoRow {
    background: #292929;
  }
}

.logoRow {
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.6);
}

.navRow {
  padding: 25px 0;
  background: #292929;
}

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.navList {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navLink {
  font-size: 18px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $color-primary;
  }
}